---
const {lang} = Astro.props
const year = new Date().getFullYear();
---

<footer class="bg-section-primary border-t border-white/5 py-12 px-6"> 
        <p class="text-neutral-500 text-sm text-center">
            &copy; {year} Anthony Ruiz. {lang === "es" ? "Todos los derechos reservados." : "All rights reserved."}
        </p>
</footer>